name: CI

on:
  pull_request: {}
  push:
    branches:
    - master

jobs:
  ci:
    runs-on : ubuntu-latest
    steps:
    - name : Checkout repository
      # https://github.com/actions/checkout/releases/tag/v4.1.1
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - name: Install Go
      # https://github.com/actions/setup-go/releases/tag/v5.0.0
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version-file: 'go.mod'
    - name : Validate
      run: make validate
    - name : Run tests
      run: make test
    - name : Build
      run: make build
